../../../../../../.PyCharm30/*
/*.zip
../../../../../../Downloads/
../../../../../../Dropbox/
../../../../../../Favorites/
../../../../../../IntelGraphicsProf
../../../../../../Links/
../../../../../../Music/
../../../../../../NTUSER.DAT*
../../../../../../Pictures/
../../../../../../PycharmProjects/
../../../../../../Saved Games/
../../../../../../Searches/
../../../../../../Tracing/
../../../../../../Videos/
../../../../../../ntuser.dat.LOG1
../../../../../../ntuser.dat.LOG2
../../../../../../ntuser.dat.log
../../../../../../ntuser.ini
../../../../../../pip/
../../../../../../sketchup 8 port/
../../../../../../workspace/